<form #noteForm="ngForm"
  [class.was-validated]="(noteForm.controls.title?.invalid && noteForm.controls.title?.touched) || noteForm.controls.message?.invalid && noteForm.controls.message?.touched"
  (ngSubmit)="saveForm(noteForm.value)" autocomplete="off" novalidate>
  <div class="form-group">
    <input type="text" class="form-control" (ngModel)="title" id="Title" name="title" placeholder="Enter a title" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" (ngModel)="message" id="Message" name="message" placeholder="Enter a message" required>
  </div>
  <button type="submit" class="btn btn-primary mr-1" [disabled]="noteForm.invalid">Save</button>
  <button type="button" class="btn btn-secondary" (click)="cancelForm($event)">Cancel</button>
</form>
